/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 19 abr. 2022, 18:29:42
    Author     : gabri
*/
html{
    background-image: url("../images/citas2.jpg");   
}

body{
    
}

.pacienteInfo{
    text-align: right;
    align-items:flex-end;
    position:relative;
}

.iconPac{
    height: 60px;
    
}

.bg-appointment-disable{
    background-color: #D96B62;
    font-size:larger;
    border-radius: 50%;
    height: 35px;
    width: 150px;
    text-align: center;
}

.horario{  
    display: flex;
    flex-direction: row;
}

.horarioExte{
     background-color: #F2A594;
    font-size:larger;
    text-decoration:none;
    color: black;
    border-radius: 45%;
    height: 30px;
    width: 100px;
    text-align: center;
}

.horarioDivEx{
   
}

.medicos{
    background-color:rgba(11%,60%,43%,.3);
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto; 
    height: 230px;
    width: 450px;
    opacity: 5;
    border-radius: 10%;
}

.horas{ 
    font-size:larger;
    text-decoration:none;
    color: black;
    border-radius: 50%;
    height: 100px;
    width: 50px;   
}

.spannDiv{
    background-color: #D96B62;
    font-size:larger;
    text-decoration:none;
    color: black;
    border-radius: 45%;
    height: 30px;
    width: 100px;
    text-align: center;
}

.horasDiv{
    background-color: #F2A594;
    font-size:larger;
    text-decoration:none;
    color: black;
    border-radius: 45%;
    height: 30px;
    width: 100px;
    text-align: center;
}

.principal{
    border-bottom-color:lightblue;    
    display: flex;
    
    flex-direction: column;
}

.clear {
    clear: both;
}
