/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 23 abr. 2022, 22:17:27
    Author     : gabri
*/

html{
    background-image: url("../images/citas2.jpg");   
}

body{
    
}
h3{
    background-color:rgba(29%,0%,20%,.5);
    color:white;
    width: 310px;
}

.fechas{
    display: flex;
    flex-direction: column;
}

.pacienteInfo{
    text-align: right;
    align-items:flex-end;
    position:relative;
}

.iconPac{
    height: 60px;
    
}

.bg-appointment-disable{
    background-color: #D96B62;
    font-size:larger;
    border-radius: 50%;
    height: 35px;
    width: 150px;
    text-align: center;
}

.horario{ 
    background-color:rgba(34%,13%,12%,.3);
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 850px;
    align-items: center;
    border-radius: 33%;
}

.horarioExte{
    background-color:rgba(11%,60%,55%,.3);
    font-size:larger;
    text-decoration:none;
    color: black;
    border-radius: 15%; 
    text-align: center;
    left:80%;
}


.medicos{
    background-color:rgba(11%,60%,55%,.3);
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto; 
    height: 230px;
    width: 450px;
    opacity: 5;
    border-radius: 10%;
    align-items: center;
}

.horas{ 
    font-size:larger;
    text-decoration:none;
    color: black;
    border-radius: 50%;
    height: 100px;
    width: 50px;   
}

.spannDiv{
    background-color: #D96B62;
    font-size:larger;
    text-decoration:none;
    color: black;
    border-radius: 45%;
    height: 30px;
    width: 100px;
    text-align: center;
}

.horasDiv{
    background-color: #F2A594;
    font-size:larger;
    text-decoration:none;
    color: black;
    border-radius: 45%;
    height: 30px;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.principal{
    border-bottom-color:lightblue;    
    display: flex;
    
    flex-direction: column;
}

.clear {
    clear: both;
}
