/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 1 abr 2022, 0:59:37
    Author     : karom
*/


*{
    
    font-family: Verdana;
}




.botom{
    text-decoration: none;
    width: 150px;
    background-color: white;
    border: solid black 3px;
    margin: 20px;
    padding: 10px;
    color: black;
    
}

.header{
    margin-left: 200px; 
    margin-right: 200px;
    flex-basis: 60px;
    transition-property: all;
    display: block;
    text-align: center;   
    background-color: #9CA6A6;
}


.segundo{
    margin-left: 200px; 
    margin-right: 200px;
    text-align: center;   
    background-color: #FCCC89;
    border: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    
}


.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.user-name{
    font-size: 18px;
    margin-top: 14px;
}

.social{
    
    list-style: none;
    text-align: center;
    padding: 0;
}

.social li{
    display: inline-block;
    margin: 5px;
}

.footer{
    margin-top: 20px;
    margin-left: 200px; 
    margin-right: 200px;
    border: 2px solid white;
    background-color: black;
    display: block;
   
}

.lfooter{
    
    padding: 30px;
    font-size: 20px;
    color: white;
    
}



table {
   width: 98%;
   padding: 5px;
   margin: 5px;
}

th, td {
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   padding: 0.3em;
   background: #cac1c1;
}

caption {
   padding: 0.3em;
   color: #fff;
   background: white;
}

th {
   background: white;
}
