/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 31 mar 2022, 23:36:33
    Author     : karom
*/

*{
    
    font-family: Verdana;
}

.botom{
    
    width: 150px;
    background-color: #efb23e;
    border: solid black 3px;    
    text-decoration: none;
    color: black;
}







.header{
    margin-left: 200px; 
    margin-right: 200px;
    flex-basis: 60px;
    transition-property: all;
    display: block;
    text-align: center;   
    background-color: #9CA6A6;
}


.segundo{
    margin-left: 200px; 
    margin-right: 200px;
    flex-basis: 60px;
    transition-property: all;
    display: block;
    text-align: center;   
    background-color: white;
    border: 2px solid black;
    padding-bottom: 500px;
    
}


.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.user-name{
    font-size: 18px;
    margin-top: 14px;
}

.social{
    
    list-style: none;
    text-align: center;
    padding: 0;
}

.social li{
    display: inline-block;
    margin: 5px;
}

.footer{
    margin-top: 20px;
    margin-left: 200px; 
    margin-right: 200px;
    border: 2px solid white;
    background-color: black;
    display: block;
   
}

.lfooter{
    
    padding: 30px;
    font-size: 20px;
    color: white;
    
}
